#button {
		background-color:pink;
		color:black;
		position:relative;
		left:100px;
	     }
body {
    Background-image: url("https://images.all-free-download.com/images/graphiclarge/poppy_flower_198889.jpg ");
}

/* https://images.all-free-download.com/images/graphiclarge/poppy_flower_198889.jpg 
